body {
    background-color: #9cd645;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #333;
    text-align: center;
    margin-top: 0;
}

h1 {
    letter-spacing: 2px;
    color: #9cd645;
    padding: 1%;
    margin-bottom: 1%;
}

h2 {
    letter-spacing: 1px;
    color: #62b9d6;
    margin-bottom: 1%; 
    padding-bottom: 1%;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 3%;
    margin: 0 auto;
    background-color: #ef9838;
    box-shadow: 5px 5px 8px #333;
}

.header-container {
    background-color: #c62e78;
    padding: 1%;
}

.report-clicks-container {
    color: #333;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.timer-container {
    color: #333;
    text-align: center;
    margin: 20px 0 10px 0;
}

.btn-container {
    text-align: center;
}

.btn-counter, .btn-reset {
    color: #333;
    background-color: #62b9d6;
    padding: 5px;
}

.btn-reset {
    margin-top: 30px;
}